{% extends "index.html" %}

{% block content %}
<h1>Videoüberachung mit Raspberry Pi</h1>
<p>Hier können Sie die Videoüberwachung mit Ihrem Raspberry Pi steuern. Sie können auswählen zwichen den verschiedenen
Modi. Falls sie Hilfe brauchen, können Sie sich auf der Hilfe-Seite die Dokumentation herunterladen.</p>

<div class="alert alert-info" role="alert">Die Kamera ist in folgendem Modus: {{ mode }}</div>

<a class="btn btn-default" href="index.php?function=stream">Streamen</a>
<a class="btn btn-default" href="index.php?function=motion">Überwachen</a>
<a class="btn btn-default" href="index.php?function=stop">Ausschalten</a>

{% if stream == true %}
<h3>Hier sehen Sie den Stream</h3>
<div align="center" class="embed-responsive embed-responsive-16by9">
    <!--<video src="10.142.126.120:8554/stream" class="embed-responsive-item">-->
    <video class="embed-responsive-item">
        <source src="https://cam3.zurich-airport.com/live.cgi?ch=3&i=1466067504" type="video/mp4">
    </video>
    <!--<img src="10.142.126.120:8554/stream/video.mjpeg" />-->
</div>
{% endif %}

{% endblock %}